.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fff;
  }
  
  .image-button {
    width: 240px;
    height: 240px;
    border: none;
    border-radius: 50%;
    background-color: #007bff;
    color: #fff;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
  }
  
  .btn:hover {
    transform: scale(1.1);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
  }
  
  .btn:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .icon {
    font-size: 48px;
  }
  
  .recording {
    animation: pulse 1s infinite;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

  .submit-btn {
    background-color: #2ecc71; /* Green background color */
    color: #fff; /* White text color */
    font-size: 16px; /* Font size */
    padding: 10px 20px; /* Padding */
    border-radius: 5px; /* Rounded corners */
    margin-top: 20px;
    margin-left: 30px;
    cursor: pointer; /* Pointer cursor */
    transition: background-color 0.3s ease; /* Transition effect */
  }
  
  .submit-btn:hover {
    background-color: #27ae60; /* Darker green background color on hover */
  }

  .gender {
    width: 100px;
    margin-bottom: 5px;
  }
  .race {
    width: 100px;
  }