.textbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-color: #f8f8f8;
}

.textbox {
  width: 50%;
  height: 70%;
  padding: 20px;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  resize: none;
  background-color: #ffffff;
}
